@import "tailwindcss";

@import "tailwindcss";

/* Reseta margens e faz o site ocupar 100% da largura da tela */
html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}